/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,900);

/* Body */
body {
    background-color: white;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 40px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab";
    font-weight: 300;
    color: #6aa2de;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #6aa2de;
    word-wrap: break-word;

    /*-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;*/
}

a:hover,
a:focus {
    color: #0088cc;
    text-decoration: none;
    outline: 0;
}

/*a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}*/

/* Navigation Bar */
.navbar {
	font-weight: 800;
	font-size: 14px;
    border: none;
    text-transform: uppercase;
    color: #6aa2de;
    box-shadow: 0px 3px 10px #5E5E5E;
}

/*@media (max-width: 768px) {
   .navbar-collapse {
      max-height: auto;
      overflow-x: auto;
   }
}*/

@media (min-width: 992px) {
    .navbar {
        height: 50px;
    }
}

.navbar-inverse {
	background: white;
	border-color: white;
}

.navbar-inverse .navbar-nav > .active > a {
	background: #ff7878
}

.navbar-inverse .navbar-brand {
	color: #6aa2de;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
	color: #ff7878;
	font-size: 22px;
	letter-spacing: 1px;
}

.navbar-inverse .navbar-brand img {
    height: 28px;
    /*margin: 0 auto;*/
    padding-top: 2px;
    margin-top: -10px;
}

.navbar-inverse .navbar-collapse .navbar-right a {
    font-size: 14px;
    color: #6aa2de;
}

.navbar-inverse .navbar-collapse .navbar-right a:hover {
    color: white;
    background: #6aa2de;
    border-color: #6aa2de;
    /*border-bottom: 1px solid #6aa2de;*/
}

.navbar-inverse .navbar-right .icon a {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        border-top: 1px solid white;
        display: block;
        background-color: #6aa2de !important;
        color: white !important;
    }
    .dropdown:hover {
        background-color: #6aa2de;
        color: white !important;
    }

    .dropdown:hover a {
        color: white !important;
    }

    .dropdown:hover a:hover {
        color: white !important;
    }

    .navbar .navbar-nav .dropdown-menu {
      position: absolute;
      float: left;
      background-color: #6aa2de;
      border: 1px solid #6aa2de;
      border-width: 1px;
      border-radius: 1px;
    }
    .navbar-inverse .navbar-nav .dropdown-menu > li > a {
      color: white;
    }
    .navbar .navbar-nav .dropdown-menu > li > a:hover,
    .navbar .navbar-nav .dropdown-menu > li > a:focus,
    .navbar .navbar-nav .dropdown-menu > .active > a,
    .navbar .navbar-nav .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .dropdown-menu > .active > a:focus {
      color: #6aa2de !important;
      background-color: white !important;
    }
    .navbar .navbar-nav .dropdown-menu > .disabled > a,
    .navbar .navbar-nav .dropdown-menu > .disabled > a:hover,
    .navbar .navbar-nav .dropdown-menu > .disabled > a:focus {
      color: #999 !important;
      background-color: transparent !important;
    }
}

@media (max-width: 767px) {
    .dropdown:hover {
        background-color: #6aa2de;
        color: white !important;
    }

    .dropdown:hover a {
        color: white !important;
    }

    .dropdown:hover a:hover {
        color: white !important;
    }

    .navbar .navbar-nav .open .dropdown-menu {
      background-color: #6aa2de;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
      color: white;
    }
    .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #6aa2de !important;
      background-color: white !important;
    }
    .navbar .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #999 !important;
      background-color: transparent !important;
    }
}

/* Header Wrap */
#headerwrap {
	/*background: url(../img/link_bg.png) no-repeat center top;*/
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: top center;
    height: 500px;
	width: 100%;
    background-color: black;
    opacity: 0.8;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap img {
    height: 500px;
    width: 100%;
}

#headerwrap h1 {
	margin-top: 150px;
	color: white;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    font-family: 'Open Sans';
}

#headerwrap h2 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

/* Dark Grey Wrap */
#dg {
	background: #e0e0e0;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

#dg h1 {
    color: #ff7878;
}

#dg h4 {
	font-weight: 700;
}

/* Light Grey Wrap */
#lg {
	background: #f0f0f0;
	padding-top: 40px;
	padding-bottom: 40px;
}

#lg h1 {
    text-align: center;
    font-weight: 600;
    color: #ff7878;
    padding-bottom: 20px;
}

#lg img {
    width: 300px;
}

#lg h4 {
    text-indent: 20px;
	font-weight: 400;
}


/* Red Wrap */
#r {
	background: #ff7878;
	padding-top: 35px;
	padding-bottom: 35px;
}

#r h4 {
	color: white;
	font-weight: 700;
}

#r p {
	color: white;
}

/* Dark color Wrap */

#dark {
	background: #aaaaaa;
	padding-top: 35px;
	padding-bottom: 35px;
}

#dark h1 {
    color: white;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black;
}

#dark h4 {
	color: white;
	font-weight: 400;
}

#dark p {
	color: white;
}

/* Footer Wrap */
#f {
	padding-top: 0px;
    margin-top: 0px;
	padding-bottom: 30px;
    color: black;
    font-size: 14px;
}

/****** SECTIONS *****/
.ph {
    /*text-align: center;*/
    margin-top: 70px;
}

.ph h1 {
    margin: 0;
}

.w {
	margin-top: 70px;
    margin-bottom: 70px;
}

.w h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

.w img {
    border: 1px solid black;
    margin-bottom: 50px;
}

.w p {
    margin-top: 20px;
    margin-bottom: 0;
}

.wb {
	padding-top: 35px;
	margin-bottom: 0px;
}

.wb h4 {
	font-weight: 700;
}

.desc {
	padding-top: 35px;
}

.desc h4 {
	font-weight: 700;
}

.desc i {
	color: #ff7878;
	font-size: 12px;
	padding: 5px;
}

/****** MAIN ******/
.carousel {
    height: 500px;
    overflow: hidden;
}
.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}

.carousel-caption {
    max-width: 550px;
    height: 300px;
    padding-top: 0px;
    margin:0 auto;
    margin-bottom: 80px;
    text-align:center;
    background-color: #ffffff;
    opacity: 0.9;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    text-decoration: none;
    text-shadow: none;
    color: black;
}

.carousel-caption h4 {
    font-weight: 700;
    padding-top: 10px;
    text-transform: uppercase;
    color: black;
}
.carousel-caption h3 {
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}
.carousel-caption p {
    font-weight: 400;
    padding-left: 60px;
    padding-right: 60px;
    color: black;
}

.carousel-caption .carousel-content {
    height: 220px;
}

.carouselButton {
    background-color:#ffffff;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    width: 200px;
    height: 40px;
    text-decoration:none;
    text-transform: uppercase;
    padding-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.carouselButton:hover {
    background-color:#f6f6f6;
    color: black;
}

/****** PROJECTS ******/
.projectButton {
    background-color:#ffffff;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    width: 200px;
    height: 40px;
    text-decoration:none;
    text-transform: uppercase;
    padding-top: 8px;
    /*padding-bottom: 10px;*/
    margin: 0px 10px 20px 0px;
    text-align: center;
}
.projectButton:hover {
    background-color:#f6f6f6;
    color: black;
}


/****** contact.html ******/

/* social footer */
#sf {
    display: block;
    width: 100%}
#sf .container {
    width: 100%}
#sf .col-lg-4 {
    margin: 0;
    padding: 15px;
}
#sf .lg {
    background-color: #5ca5ec;
}
#sf .dg {
    background-color: #6aa2de;
}
#sf h4 {
    color: #fff;
}
#sf p {
    color: #fff;
}
#sf .ml {
    margin-left: 30px;
}
#sf i {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* contact footer */
#cf {
    background: #2f2f2f;
}
#cf h4 {
    color: #fff;
    margin-left: 15px;
    margin-top: 15px;
}
#cf p {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    margin-left: 15px;
}
#cf .container {
    width: 100%}
#cf .col-lg-8 {
    margin: 0;
    padding: 0;
}

/****** press.html ********/

#news-img {
    width: 100%;
    margin-top: 18px;
}